@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

body {
    background: #020202;
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

button {
    background: transparent;
    border: 1.5px solid white;
    padding: 10px;
    margin: 6px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.disabled {
    opacity: .6;
    cursor: none;
}